button{
    font-family: 'Do Hyeon', sans-serif;
    padding: 5px;
    margin:25px;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 10px;
}
body{
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}
.text{
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 15px;
}
.buttonBox{
    display:flex;
    margin-left:100px;
}
