body {
    background-color: darkgray;
    background-image: url("../static/images/pattern.png");
    background-size: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    font-size: 12px;
  }
.bookcover {
    background-color: #b4d1da;
    border-radius: 9px;
    border: 1px solid #738186;
  
    width: 960px;
    height: 660px;
  
    margin: 100px auto ;

    position: relative;
  }
  .bookdot{
    border-radius:9px;
    border:2px dashed white;
    position: absolute;
    top: 12.5px;
    left:12.5px;
    bottom: 12.5px;
    right:12.5px;

  }
  .page{
    border-radius:9px;
    background-color:gainsboro;
    position:absolute;
    top: 12.5px;
    left: 12.5px;
    bottom: 12.5px;
    right:12.5px;
    display: flex;
    padding: 12px;
  }
  /* page 컨테이너 아이템*/
  .left{
    flex: 0.25;
    display:flex;
    flex-direction: column;
    margin-right:1.5rem;
  }
  .right{
    flex: 0.7;
    display:flex;
    flex-direction: column;
  }
  .menu{
    margin-top: 2rem;
    flex: 0.1;
  }

  /*left 컨테이너 아이템*/
  .today{
    flex: 1;
    text-align: center;
  }
  .profile{
    flex: 20;
    background-color: white;
    border: 1.5px solid rgb(207, 200, 200);
    border-radius: 9px;
    padding: 1rem;
  }
  /*파도타기*/
  .profile-dropdown {
    font-family: 'Poor Story', cursive;
    flex: 0;
    border: 1px solid rgb(207, 200, 200);
    padding: 5px;
    margin-top: 10px;
    position: relative;
  }
  
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid #ff0000;
  }
  
  .dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-content { /*내려오는 링크*/
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .profile-dropdown:hover > .dropdown-content { /*박스에 마우스가 가면 사이트가 뜸*/
    display: block;
  }
  
  .dropdown-content > a {
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 6px;
    color: black;
    text-decoration: none;
  }
  
  .dropdown-content > a:hover {
    background-color: #f1f1f1;
  }
  /*right컨테이너 아이텀*/
  .top{
    flex: 1; 
    display: flex;
  }

  .bottom{
    flex: 20;
    background-color: white;
    border: 1.5px solid white ;
    border-radius: 9px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }
  /*right-top 컨테이너 아이템*/
  .homename{
    flex:1;
  }
  .homeurl{
    flex:1;
    text-align: center;
    font-size: 0.5rem;
  }

  h3{
    color:indianred;
    font-family: 'Black Han Sans', sans-serif;
    border-bottom: 2px solid slategray;
  }
  li{
    list-style-type: none;
    margin-left: -30px;
    border-bottom: 1.5px dotted slategray;
  }

  .menu>a {
    font-family: 'Poor Story', cursive;
    background-color: #b4d1da;
    color: black;
    padding:10px;
    width:80%;
    text-decoration: none;
    display: inline-block;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .menu>a:hover {
    background-color: white;
  }

  .redcolor{
    color: red;
  }
  .bluecolor{
    color:steelblue;
  }
